@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined|Material+Icons');
:root {
    --bg: rgba(255,255,255,0.5);
    --border: rgba(255,255,255, 0.6);

    /* Dark Color Scheme */
    --dark-near: #333;   
    --dark-nearest: #444;   

    --fg-near: var(--dark-near);
    --fg-nearest: var(--dark-nearest);
    --pad: 10px;
    --small-pad: 5px;
    --gap: 20px;
    --radius: 16px;
    --small-radius: 8px;
}
*:focus {
	outline: none;
}
*:-moz-focus-inner {
	border: 0;
}
.shown {
	display: block !important;
}
.material-icons-outlined, .material-icons {
	user-select: none;
}
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
    color: white;
    background: black;
    font: 16px/1.5 'Fira Sans', sans-serif;
}
canvas {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 0;
}
canvas.grab {
    cursor: grab;
}
#console {
	padding-top: calc(1.5rem + 2* var(--pad));
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
	box-sizing: border-box;
    z-index: 2;
}
#toolbar {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
}
#toolbar button {
    margin-bottom: 0;
}
hr {
	height: 0;
	margin: var(--small-pad) 0;
	border: 0px solid transparent;
	border-top-width: 1px;
	border-top-color: var(--fg-near);
}
.panel {
	background-color: var(--fg-near);
	border-radius: var(--radius);
	line-height: 1;
	overflow: auto;
	padding: var(--pad);
}
.panel h3 {
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	font-size: 1em;
	padding: var(--small-pad);
	background-color: var(--fg-nearest);
	margin: var(--pad) 0;
}
.panel h3:first-of-type {
	margin-top: 0;
}
.panel li, .panel h3 {
	border-radius: var(--small-pad);
}
#mesh-list li {
	padding: var(--small-pad) var(--pad);
}
#mesh-list {
	display: none;
	position: absolute;
	top: 50%;
	min-width: 8em;
	left: calc(24px + 4 * var(--pad));
	transform: translate(0%, -50%);
}
#mesh-list ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#mesh-list li:hover {
	background: var(--fg-nearest);
}
#mesh-list li, #scene-tree p, #scene-tree i {
	cursor: pointer;
}
#scene-tree {
	position: absolute;
	top: 0;
	right: 0;
	width: 12em;
	margin: var(--pad);
}
#scene-tree li p {
	border-radius: var(--small-pad);
	margin: 0;
	padding: var(--small-pad);
	margin-left: 24px;
	display: inline-block;
}
#scene-tree li i+p {
	margin-left: 0;
}
#scene-tree p:hover, #scene-tree i:hover {
	border-radius: var(--small-pad);
	background: var(--fg-nearest);
}
#scene-tree > div {
	width: 12em;
	max-height: 20em;
	overflow: auto;
}
#scene-tree .disabled {
	color: var(--bg);
}
#scene-tree .disabled p {
	cursor: default;
}
#scene-tree ul {
	display: none;
	padding: 0;
	margin: 0;
	padding-left: var(--pad);
	list-style: none;
}
#scene-tree > ul  {
	padding: 0;
}
#scene-tree ul li > .material-icons-outlined {
	float: left;
}
#scene-tree ul li > .material-icons {
	float: right;
}
#scene-tree li p.dragenter {
	position: relative;
	background: var(--fg-nearest);
	margin-top: var(--small-pad);
	margin-bottom: calc(var(--pad) + 8px);
}
#scene-tree li p.dragenter::after {
	content:'';
	position: absolute;
	top: calc(100% + var(--small-pad));
	left: 0;
	width: 100%;
	height: 8px;
	background-color: var(--fg-nearest);
	border-radius: var(--small-pad);
}
#console.shown ~ section, #console.shown ~ canvas {
    filter: blur(10px);
}
#console div {
    margin: 0;
    padding: var(--pad);
}
#console pre {
	margin: 0;
	margin-left: calc(24px + var(--pap));
}
#console div > i {
    margin-right: var(--pad);
    vertical-align: top;
	float: left;
    color: yellow;
}
button {
    position: relative;
    padding: 0;
    margin: 0.5em;
    color: white;
    border: 0;
    font: 1em/1 'Fira Sans', sans-serif;

    background: var(--fg-near);
    border-radius: var(--radius);
    border: 1px solid var(--fg-nearest);
}
button > * {
    display: inline-block;
    padding: var(--pad);
}
button::-moz-focus-inner {
    border: 0;
}
button span {
    line-height: 24px; /* size of material icon */
    vertical-align: top;
}
button .hint {
    display: none;
    position: absolute;
    white-space:nowrap;
    width: auto;
    left: 100%;
    top: 0;
    background: var(--fg-nearest);
    margin-left: 1.2em;
    min-width: 1em;
    border-radius: 0 var(--small-radius) var(--small-radius) 0;
}
#console button .hint, #open-console .hint {
    margin-left: 0;
    margin-right: 1.2em;
    left: 0;
    transform: translate(calc(-100% - 1.2em), 0);
    border-radius: var(--small-radius) 0 0 var(--small-radius);
}
#open-console {
    position: absolute;
    bottom: 0;
    right: 0;
}
button .hint::before {
    width: 0;
    height: 0;
    border: 0px solid transparent;
    border-right-color: var(--fg-nearest);
    border-width: calc(12px + var(--pad)) 0.8em;
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 100%; 
}
#console button .hint::before,
#open-console .hint::before {
    top: 0;
    left: 100%; 
    border-right-color: transparent;
    border-left-color: var(--fg-nearest);
}
button.labelled .material-icons-outlined {
    background: transparent;
    border-color: transparent;    
}
button.labelled .label {
    padding-left: 0;
}
button:active {
    background-color: var(--fg-nearest);
}
button:hover > .hint {
    display: block;
    animation: popin-afterawhile 1s;
    width: auto;
}
@keyframes popin-afterawhile {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
#console button {
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    border-color: transparent;
    background: transparent;
}
#console button .material-icons-outlined {
    background: transparent;
    border-color: transparent;
    padding: var(--pad);
}
#console .header {
	width: 100%;
    text-transform: uppercase;
	position: fixed;
	top: 0;
	padding: var(--pad);
	margin: 0;
    font-weight: bold;
    background: rgba(50,50,50,1.0);
}
#console .header p {
	margin: 0;
}
#logs {
    overflow-y: scroll;
	height: 100%;
}
#logs div {
    margin: 0;
    padding: 0 0 0 var(--pad);
}
#logs div:first-child {
	margin-top: var(--pad);
}
#logs div:last-child {
	margin-bottom: var(--pad);
}
#logs div i {
    margin-right: var(--pad);
	float: left;
    vertical-align: top;
    color: yellow;
}
#logs pre {
	margin: 0;
	margin-left: calc(24px + var(--pad));
}
