@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');
:root {
    --bg: rgba(255,255,255,0.5);
    --border: rgba(255,255,255, 0.6);

    /* Dark Color Scheme */
    --dark-near: #333;   
    --dark-nearest: #444;   

    --fg-near: var(--dark-near);
    --fg-nearest: var(--dark-nearest);
    --pad: 10px;
    --gap: 20px;
    --radius: 16px;
    --small-radius: 8px;
    --small-pad: 8px;
}
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
    color: white;
    background: black;
    font: 16px/1.5 'Fira Sans', sans-serif;
}
canvas {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 0;
}
canvas.grab {
    cursor: grab;
}
#console {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background: rgba(0,0,0,0.5);
    z-index: 2;
}
#toolbar {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
}
#toolbar button {
    margin-bottom: 0;
}
#console.shown {
    display: block;
}
#console.shown ~ section, #console.shown ~ canvas {
    filter: blur(10px);
}
#console p {
    margin: 0;
    padding: var(--pad);
}
#console p i {
    margin-right: var(--pad);
    vertical-align: top;
    color: yellow;
}
button {
    position: relative;
    padding: 0;
    margin: 0.5em;
    color: white;
    border: 0;
    font: 1em/1 'Fira Sans', sans-serif;

    background: var(--fg-near);
    border-radius: var(--radius);
    border: 1px solid var(--fg-nearest);
}
button > * {
    display: inline-block;
    padding: var(--pad);
}
button::-moz-focus-inner {
    border: 0;
}
button span {
    line-height: 24px; /* size of material icon */
    vertical-align: top;
}
button .hint {
    display: none;
    position: absolute;
    white-space:nowrap;
    width: auto;
    left: 100%;
    top: 0;
    background: var(--fg-nearest);
    margin-left: 1.2em;
    min-width: 1em;
    border-radius: 0 var(--small-radius) var(--small-radius) 0;
}
#console button .hint {
    margin-left: 0;
    margin-right: 1.2em;
    left: 0;
    transform: translate(calc(-100% - 1.2em), 0);
    border-radius: var(--small-radius) 0 0 var(--small-radius);
}
button .hint::before {
    width: 0;
    height: 0;
    border: 0px solid transparent;
    border-right-color: var(--fg-nearest);
    border-width: calc(12px + var(--pad)) 0.8em;
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 100%; 
}
#console button .hint::before {
    right: -1.6em;
    border-right-color: transparent;
    border-left-color: var(--fg-nearest);
}
button.labelled .material-icons-outlined {
    background: transparent;
    border-color: transparent;    
}
button.labelled .label {
    padding-left: 0;
}
button:active {
    background-color: var(--fg-nearest);
}
button:hover > .hint {
    display: block;
    animation: popin-afterawhile 1s;
    width: auto;
}
@keyframes popin-afterawhile {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
#console button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    border-color: transparent;
    background: transparent;
}
#console button .material-icons-outlined {
    background: transparent;
    border-color: transparent;
    padding: var(--pad);
}
#console p:first-of-type {
    text-transform: uppercase;
    font-weight: bold;
    background: rgba(50,50,50,0.5);
}
#open-console {
    position: absolute;
    bottom: 0;
    left: 0;
}
